<div ng-controller="OrderController">

    <!--<div class="showcase sweet" style="padding-left:800px;">
        <label>{{message}}</label><br />
        <button>Show error message</button>
    </div>-->

    <div style="padding-left:100px;">
        <br />
        <input type="button" ng-click="addTaskView()" value="Add New Order" />
        <input type="button" ng-click="GetDuePaymentOrders()" value="Check Payment Dues" />
    </div>

    <div style="padding-left: 800px;">
        <form name="TaskCreatedBy">
            <input type="text" name="User" placeholder="Customer Name" ng-model="TaskCreator" required /><!--<label>{{TaskCreator}}</label>-->
            <br /><input type="submit" value="Search" ng-click="search(TaskCreator)" style="margin-left:50px;" />

        </form>
    </div>
    <div class="myGrid" ui-grid="gridOptions" ui-grid-edit></div>
</div>